

body {
  padding-top: 90px;
}

video {
  width: 100%;
}

em {
  display: inline-block;
  background-color: #F3F781;
  border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 0 4px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  margin: 18px 0;
  padding-top: 25px;
}

#result-pane ul {
  list-style-type: none;
  padding: 0px;
}

#search-bar input.form-control {
    width: 174px;
}

.video-item {
  margin-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.video-item .info-pane {
  padding-top: 50px;
}

.video-item .info-pane hr{
   margin: 0px;
   padding-top: 10px;
}

.navbar-form {
    background-color: #3a3f41;
    overflow: hidden;
}

.main-message {
  max-width: 820px;
  margin: 150px auto;
  text-align: center;
}

.main-message h1 {
  letter-spacing: 3px;
  line-height: 57px;
  margin-bottom: 30px;
}

.main-message hr {
  width: 520px;
  margin: auto;
}

.input-group {
  width: 400px;
}

#search-bar input.form-control {
  width: 299px;
  border-radius: 0px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

#search-bar .search-button {
  background-color: #3a3f41;
  color: white;
  border-radius: 0px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.logo {
  color: white;
  font-size: x-large;
}
